body {
  background: #D499B9;
  color: #011638;
}

.App {
  max-width: 500px;
  text-align: left;
  margin: 5em auto;
  padding: 1em;
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style-type: none;
  line-height: 2;
  padding-inline-start: 0;
}

button {
  padding: 1em;
  margin: 1em;
  background: #9055A2;
  outline: none;
  border-radius: 3px;
  border: none;
  font-size: 1em;
}

select {
  border: none;
  border-radius: 3px;
  font-size: 1em;
  background: #9055A2;
  height: 3.2em;
  outline: none;
}